<div class="panel-section" [class.collapsed]="!propertiesOpen()">
  <div class="panel-section-header" (click)="toggleProperties()">
    <mat-icon class="collapse-icon">
      {{ propertiesOpen() ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
    <span>{{ 'PANEL.PROPERTIES' | translate }}</span>
  </div>
  @if (propertiesOpen()) {
    <div class="panel-section-body properties-body">
      <app-properties-panel />
    </div>
  }
</div>

<div class="panel-section" [class.collapsed]="!layersOpen()">
  <div class="panel-section-header" (click)="toggleLayers()">
    <mat-icon class="collapse-icon">
      {{ layersOpen() ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
    <span>{{ 'PANEL.LAYERS' | translate }}</span>
  </div>
  @if (layersOpen()) {
    <div class="panel-section-body layers-body">
      <app-layers-panel />
    </div>
  }
</div>

<div class="panel-section library-section" [class.collapsed]="!libraryOpen()">
  <div class="panel-section-header" (click)="toggleLibrary()">
    <mat-icon class="collapse-icon">
      {{ libraryOpen() ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
    <span>{{ 'PANEL.ASSETS' | translate }} / {{ 'PANEL.SCENES' | translate }}</span>
  </div>
  @if (libraryOpen()) {
    <div class="panel-section-body library-body">
      <app-library-panel />
    </div>
  }
</div>
